code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-family: "Playfair Display", serif;
  background-color: #fcf8ec;
  margin: 0;
  padding: 0;
  color: #21242a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  margin: 0;
}

button {
  background-color: #5f848c;
  color: #fcf8ec;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

button:hover {
  background-color: #456268;
}

.card-title {
  font-weight: bold;
  color: #21242a;
  font-family: "Roboto", sans-serif;
}
